/* ==========================================================================
   OFF CANVAS SLIDING MENU
   Based on code by Diego Eis
   http://tableless.com.br/fazendo-um-slide-menu-mobile-sem-plugin/
   ========================================================================== */

/* Slider */

.slide {
    transform: translateX(-100%);
    @include media($medium) {
      transform: translateX(em(-600));
    }
    @include media($large) {
      transform: translateX(em(-900));
    }
  }

/*
   Sliding menu button
   ========================================================================== */

.sliding-menu-button {
  position: fixed;
  transform: translateZ(0);
  backface-visibility: hidden; /* fix scroll jank */
  top: $gutter;
  right: $gutter;
  display: block;
  width: $button-size * 2;
  height: $button-size * 2;
  background: #318bff;
  background-repeat:no-repeat;
  outline: 0;
  padding: 0;
  border: 2.5px solid transparent;
  cursor: pointer;
  z-index: 20;
  box-sizing: border-box;
  &:hover {
    background: #acacac;
  }
  transition: $sliding-menu-animation;
  &.slide {
    background: $danger-color;
    transform: translateX(0); /* don't slide close button on small screens only */
    /* disable reset slide position
    @include media($medium) {
      transform: translateX(em(-600)); 
    }
    @include media($large) {
      transform: translateX(em(-900)); 
    }
    */
  }
}

/*
   Sliding content
   ========================================================================== */

.sliding-menu-content {
  position: fixed;
  top: 0;
  right: 0;
  padding: em(22) 0;
  visibility: hidden;
  backface-visibility: hidden;
  text-align: left;
  @include size(100% 100%);
  @include media($small) {
    width: em(600);
  }
  @include media($large) {
    width: em(900);
  }
  transform: translateX(100%);
  transition: $sliding-menu-animation;
  background: $sliding-menu-background;
  z-index: 20;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  &.is-visible {
    visibility: visible;
    transform: translateX(0);
  }
  h5 {
    margin: 0 20% 0 10%;
    @include media($large) {
      margin-right: 20%;
    }
    color: $white;
    @include font-size(14);
    @include media($small) {
      @include font-size(16);
    }
    span {
      display: block;
      @include font-size(32,no,1);
      @include media($small) {
        @include font-size(48,no,1);
      }
      font-family: $base-font;
      text-transform: uppercase;
      font-weight: 400;
    }
  }
  ul {
    margin: 0 10%;
    @include media($large) {
      margin-right: 20%;
    }
  }
  ul,
  li {
    list-style: none;
  }
  li {
    display: block;
    position: relative;
    padding-bottom: 1em;
    min-height: 70px;
    @include media($small) {
      min-height: 100px;
    }
  }
  .menu-item {
    a {
      display: block;
      color: $white;
      text-decoration: none;
      font-family: Arial;
	  font-weight: bolder;
	  border:2px solid rgba(255,255,255,0.2);
	  padding-left: 20px;
	  margin: 0 auto;
   	  position: relative;
	  box-sizing:border-box;
	  -moz-box-sizing:border-box;
	  -o-box-sizing:border-box;
	  -webkit-box-sizing:border-box;
	  -ms-box-sizing:border-box;
        
      transition:0.4s ease;
	  -webkit-transition:0.4s ease;
	  -moz-transition:0.4s ease;
	  -o-transition:0.4s ease;
    }
    .menu-item:hover{
              border: 2px solid rgba(255,255,255,1);
	          background: url(http://7q5cdt.com1.z0.glb.clouddn.com/ghost-button-css3-allow.png) no-repeat 140px center;
    }
    /* 四条线 */
    .menu-item .line{
	     display: block;
	        position: absolute;
	        background: none;
	
	        transition:0.4s ease;
	        -webkit-transition:0.4s ease;
	        -moz-transition:0.4s ease;
	        -o-transition:0.4s ease;
    }
    .menu-item:hover .line{
	        background: #fff;
    }
    /* 初始位置 */
    .menu-item .line-top{
        	height: 2px;
	        width: 0px;
	        left:-110%;
	        top:-2px;
	
    }
    /* 最终位置, 只写有变化的属性 */
    .menu-item:hover .line-top{
	  width: 180px;
	  left: -2px;
    }

    /* 初始位置 */
    .menu-item .line-right{
      height: 0px;
      width: 2px;
	  top:-110%;
	  right:-2px;
	
    }
    /* 最终位置, 只写有变化的属性 */
    .menu-item:hover .line-right{
	  height: 50px;
	  top: -2px;
    }

    /* 初始位置 */
    .menu-item .line-bottom{
	  height: 2px;
	  width: 0px;
	  right:-110%;
	  bottom:-2px;
	
    }
    /* 最终位置, 只写有变化的属性 */
    .menu-item .line-bottom{
	  width: 180px;
	  right: -2px;
    }

    /* 初始位置 */
    .menu-item .line-left{
	  height: 0px;
	  width: 2px;
	  bottom: -110%;
	  left: -2px;
    }
    /* 最终位置, 只写有变化的属性 */
    .menu-item .line-left{
	  height: 50px;
	  bottom: -2px;
    }
    /* tip */
    .tip{
	  position: absolute;
	  padding:0 14px;
	  height: 35px;
	  line-height: 35px;
	  background: #2dcb70;
	  color: #fff;
	  font-size: 18px;
	  margin: 0 auto;
	  border-radius: 3px;
	  -webkit-border-radius: 3px;
	  -moz-border-radius: 3px;
	  -o-border-radius: 3px;
	  -ms-border-radius: 3px;
	  top:100px;
	  opacity: 0;
    }
    .tip em{
	  font-style: normal;
    }
    .tip span{
	  display: block;
	  width: 0;
	  height: 0;
	  overflow: hidden;
	  border: 7px solid transparent;
	  border-top-color: #2dcb70;
	  position: absolute;
	  top: 35px;
	  left: 50%;
	  margin-left: -3px;
    }
    .title {
      display: block;
      margin-left: 60px;
      font-family: $alt-font;
      @include font-size(24,no);
      font-weight: 700;
      @include media($small) {
        margin-left: 170px;
        @include font-size(32,no);
      }
    }
    .excerpt {
      margin-top: 0;
      margin-left: 60px;
      @include font-size(14,no);
      @include media($small) {
        margin-left: 170px;
        @include font-size(16,no);
      }
    }
  }
  .sub-menu-item > li a {
    display: block;
    color: #fffafa;
    font-style: italic;
  }
  .menu-item .home a {
    @include font-size(32);
  }
}

/* Dim content when off canvas nav slides in */

.menu-screen {
  @include position(fixed, 0 0 0 0);
  visibility: hidden;
  z-index: 4;
  &.is-visible {
    visibility: visible;
    &:hover {
      cursor: pointer;
    }
  }
}
